.product-card {
  margin-bottom: 30px;
}

.card-top-container {
  text-align: center;
  padding: 16px 0;
  border-bottom: 1px solid #e1e1e1;
}

.card-top-container img {
  width: auto;
  height: 100%;
}

.btn2-container {
  display: flex;
  justify-content: center;
}

.card-bottom-container h6 {
  font-size: 18px;
  text-align: center;
  color: #000;
  font-size: 18px;
}

.card-bottom-container p {
  font-size: 14px;
  font-style: italic;
  width: 280px;
  text-align: left;
  color: #585858;
  padding: 10px 0 10px 26px;
}

.btn2-container button {
  height: 40px;
  background: #00285f;
  border: #00285f;
  border-radius: 5px;
  width: 85%;
}

.btn2-container h5 {
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
}

.btn2 {
  height: auto;
  width: auto;
  margin: 0 0 20px 0;
}

@media (min-width: 576px) {
  .card-bottom-container p {
    font-size: 12px;
  }
}

@media (min-width: 767px) {
    .card-bottom-container p {
      font-size: 14px;
    }
  
}
