
.product-card{
    margin-bottom: 30px;
}

.card-top-container{
    text-align: center;
    padding: 16px 0;
    border-bottom: 1px solid #e1e1e1;
}

.card-top-container img{
    width: auto;
    height: 100%;
}

.card-bottom-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn2-container{
    display: flex;
    justify-content: center;
}

.card-bottom-container h6{
    font-size: 18px;
    text-align: center;
    color: #000;
    padding-bottom: 10px;
}


.card-bottom-container p{
    font-size: 14px;
    font-style: italic;
    width: 280px;
    text-align: left;
    color: #585858;
    padding: 0 0 18px 26px;
}

.btn2-container button{
    height: 40px;
    padding: 10px 30px;
    background: #00285F;
    border-radius: 5px;
    width: 85%;
    height: auto;
}   

.btn2-container h5{
    color: #FFF;
    text-transform: uppercase;
    font-size: 14px;
}

.btn2 {
    height: auto;
    width: auto;
    margin-bottom: 20px;
}

@media (min-width: 576px) {
    .card-bottom-container p{
        font-size: 12px;
        padding-left: 20px;
    }
    @media (min-width: 768px){
        .card-bottom-container p{
            font-size: 14px;
            padding-left: 26px;
        }
    }
}

