.product-card {
    margin: 10px;
}

.card-top-container{
    text-align: center;
}

.card-top-container img{
    width: auto;
    height: 100%;
}

.btn2-container{
    display: flex;
    justify-content: center;
}

.card-bottom-container h6{
    text-align: center;
    color: #000;
    font-size: 18px;
}

.card-bottom-container p{
    font-size: 14px;
    margin: 20px;
    font-style: italic;
    width: 95%;
}

.btn2-container button{
    height: 40px;
    background: #00285F;;
    border-radius: 5px;
    width: 240px;
    width: 85%;
}   

.btn2-container h5{
    color: #FFF;
    text-transform: uppercase;
    font-size: 14px;
}

.btn2 {
    height: auto;
    width: auto;
    margin: 0 0 20px ;
}