.home-container {
  padding: 10px;
  font-size: 20px;
  text-align: center;
}

.home-card {
  display: flex;
  flex-direction: column-reverse;
}

.second-card-form p{
    font-size: 0.9em;
    margin-bottom: 0px;
}

.home-content-container {
    padding: 10px 10px 50px 10px ;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.second-card-container{
    margin-top: 30px;
    padding: 10px 10px 10px 10px ;
    display: flex;
    flex-direction: column;
    align-items: center
}

.home-content-container h1{
    width: 302px;
    font-size: 1.13em;
    color: #fff;
}

.home-content-container p{
    width: 302px;
    font-size: 0.8em;
    color: #fff;
}

.home-image-container{
    padding: 50px 15px;
}

.home-image-container svg{
    width: 80%;
    height: auto;
}

@media(min-width: 576px){
    .home-container {
        padding: 15px;
        font-size: 30px;
      }

    .home-content-container h1{
        width: 506px;
        margin-bottom: 20px;
    }

    .home-content-container p{
        width: 506px;
    }

    .home-image-container svg{
        width: 450px;
    }

    .second-card-container{
        flex-direction: row;
        align-items: baseline;
    }

    .second-card-container p{
        margin-left: 10px;
    }

    @media(min-width: 768px){
        .home-image-container{
            padding: 100px 20px;
        }

        .home-content-container {
            padding: 20px 20px 100px 20px ;
        }

    }

    @media(min-width: 992px){

        .home-content-container {
            padding: 20px 20px 150px 20px ;
        }

        .home-container {
            font-size: 50px;
            padding: 40px;
        }

        .second-card-container{
            font-size: 30px;
        }

        .home-content-container h1{
            font-size: 42px;
            margin-bottom: 8px;
            width: 700px;
        }
        
        .home-content-container p{
            font-size: 28px;
            width: 700px;
        }

    }
    @media(min-width: 1200px){
        .home-card {
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            margin-left: 70px;
            margin-right: 70px;
            padding: calc(((85vh - 480px) / 2) - 100px);
        }

        .home-content-container {
            align-items: flex-start;
            text-align: left;
            align-content: space-between;
            flex-flow: wrap;
            padding: 90px 0 90px 50px;
            flex-direction: row;
        }

        .home-image-container{
            display: flex;
            padding: 0 30px 0 0;
        }
        
        .home-image-container svg{
            width: 200%;
        }

        .second-card-form {
            margin-left: 70px;
            margin-right: 70px;
        }

        .second-card-container{
            justify-content: flex-start;
            padding: 35px 0px 35px 0px;
        }

        .btn{
            padding-left: 55px;
        }
    }
}


